{% extends "base_generic.html" %}

{% block content %}
  <h1>Propriedade de {{ propriedade }}</h1>

  <p><strong>Responsavel:</strong> <a href="">{{ propriedade.responsavel }}</a></p>
  <!-- author detail link not yet defined -->
  <p><strong>Localidade Geográfica:</strong> {{ propriedade.localGeo }}</p>
  <p><strong>Contato do responsável:</strong> {{ propriedade.contatoResponsavel }}</p>
  <p><strong>Atividade Principal:</strong>
      {% if propriedade.morangoAtividadePrincipal %}
        Morango
      {% else %}
        Outra cultura
      {% endif %}
    </p>

  <hr>
  <ul>

    <li><a href="{% url 'propriedade-update' propriedade.id %}">Editar propriedade</a></li>
      <li><a href="{% url 'propriedade-delete' propriedade.id %}">Deletar propriedade</a></li>

  </ul>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Históricos</h4>

    {% for historico in propriedade.historicopropriedade_set.all %}
      <hr />
        <p><strong>Ano de resposta:</strong> {{ historico.ano|default:"Não informado" }}</p>
        <p><strong>Sistemas de Produção:</strong>
            {% if historico.sistemasDeProducao.all %}
              {{ historico.sistemasDeProducao.all|join:", " }}
            {% else %}
              Não informado
            {% endif %}
          </p>
        <p><strong>Número de plantas:</strong> {{ historico.numPlantas|default:"Não informado" }}</p>
        <p><strong>Vendas B2B:</strong> {{ historico.B2B|default:"Não informado" }}%</p>
        <p><strong>Vendas B2C:</strong> {{ historico.B2C|default:"Não informado" }}%</p>
        <p><strong>Cultivares:</strong>
            {% if historico.cultivar.all %}
              {{ historico.cultivar.all|join:", " }}
            {% else %}
              Não informado
            {% endif %}
          </p>
    {% endfor %}
  </div>
{% endblock %}
